python-vlc==3.0.20123
gpiozero==2.0.1
lgpio==0.2.2.0
evento==1.0.2
pyserial
# pySimpleDMX is not published in a working form on PyPI, so install from git.
git+https://github.com/limbicmedia/pySimpleDMX.git@v0.2.0#egg=pysimpledmx
