[Unit]
Description=display for miniature world, plays video and syncs lights. Starts on boot.
After=multi-user.target

[Service]
Type=simple
Restart=always
RestartSec=3
WorkingDirectory=/opt/pimediasync
# Force gpiozero to use the lgpio backend (required on the Raspberry Pi 5).
Environment=GPIOZERO_PIN_FACTORY=lgpio
EnvironmentFile=/etc/pimediasync.conf
ExecStart=/usr/bin/python3 app.py $APPLICATION_FLAGS


[Install]
WantedBy=multi-user.target